{% extends 'layout.html' %}

{% block title %}
    FOS Loyalty Program
{% endblock %}

{% block css_includes %}
    {{ super() }}
    {% assets "portal_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body %}
    <div id="site-title"><h2>Frontier Outdoor Supply </h2><h1>LoyaltyPlus</h1></div>
    <div class="container">
        <form id='enroll-login-form' method="POST" action="{{ url_for('portal') }}">
            {{ form.csrf_token }}
            {% if errors %}
                <div class="error-prompt">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>

            {% endif %}
            <div class="form-field">{{ form.email.label }}{{ form.email() }}</div>
            <div class="form-field">{{ form.account_id.label }}{{ form.account_id() }}</div>
            <div class="form-controls">
                <input id='enroll-button' type="submit" name='submit' value="Enroll"/>
                <input id='login-button' type="submit" name='submit' value="Login"/>
            </div>
        </form>
    </div>
{% endblock %}

{#{% block body_js %}#}
{#    {% assets 'portal_js' %}#}
{#    {% endassets %}#}
{#{% endblock %}#}