{% extends 'layout.html' %}

{% block title %}
    LoyaltyPlus
{% endblock %}

{% block css_includes %}
    {{ super() }}
    {% assets "profile_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body %}
    <div id="top-nav-bar">
        <h1>LoyaltyPlus</h1>
        <a class='logout-button' href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="container">
        <h1 class="profile-info-title">Membership Profile</h1>

        <div id="profile-info-container">
            <div class="info-field lead-field"><label>Account ID: </label><span id='account-value'></span></div>
            <div class="info-field"><label>Points: </label><span id='points-value'></span></div>
            <div class="info-field"><label>Credits($): </label><span id="credits-value"></span></div>
        </div>
        <div id="profile-members-container">
            <h3>Members</h3>

            {# Enroll form #}
            <div id="enroll-form-container">
                <form name="enroll-form" id="enroll-form">
                    <div id="enroll-form-error" class="error-prompt"></div>
                    <label>Email</label>
                    <input name='email' class="textfield" type="text"/>
                </form>
                <button id='new-member-add-button' type="button">Enroll</button>
            </div>
            {# Convert Credits Form #}
            <div id="convert-form-container">
                <form name="convert-form" id="convert-form">
                    <div class="convert-form-title">Add Credits to Member(10pts/$1)</div>
                    <div id="convert-form-error" class="error-prompt"></div>
                    <div class="conversion-input">
                        <label>Email</label>
                        <input type="text" name="email"/>
                    </div>
                    <div class="conversion-input">
                        <label>Credits</label>
                        <input type="number" name="credits" maxLength="4"/><span id="pts-estimate"></span>
                    </div>
                </form>
                <button id="pts-estimate-button" type="button">Estimate</button>
                <button id="convert-submit-button" type="button">Convert</button>
            </div>

            <ul id="members-list" class="item-list">
                <li><h3>No members</h3></li>
            </ul>
        </div>
        <div id="profile-ledgers-container">
            <h3>Purchases</h3>
            {# Add new purchase form #}
            <form id="new-purchase-form" name="new-purchase-form">
                <div id="new-purchase-form-error" class="error-prompt"></div>
                <label>Email</label>
                <input name="email" class="textfield" type="text"/>
                <label>Description</label>
                <input name='purchase_description' class="textfield" type="text"/>
                <label>Price ($)</label>
                <input name='purchase_price' class="textfield" type="number"/>
                <label>Purchase date</label>
                <input name="purchase_month" class="textfield month" type="text" placeholder="mm" maxlength="2"/>
                <input name="purchase_day" class="textfield day" type="text" placeholder="dd" maxlength="2"/>
                <input name="purchase_year" class="textfield year" type="text" placeholder="yyyy" maxlength="4"/>
            </form>
            <button id='new-purchase-add-button' type="button">Add</button>
            <ul id="purchases-list" class="item-list">
                <li><h3>No activities</h3></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    {% assets 'profile_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}