@import mixins

$login-button-color: #2ecc71
$login-button-dark-color: #29b664
$enroll-button-color: #e67e22
$enroll-button-dark-color: #d35400

#enroll-login-form
  border: 1px dashed black
  width: 500px
  padding: 50px
  text-align: center
  margin: 0 auto
  .error-msg
    color: red
    border: 1px solid red
    background-color: peachpuff
    border-radius: 3px
    font-size: 13px
  .form-field
    margin: 10px 0
    label
      text-align: left
      width: 100px
      display: inline-block
  .form-controls
    margin-top: 40px
    input[type='submit']
      margin: 0 20px
    .login-button
      @include style_button($login-button-color, $login-button-dark-color, white)
    .enroll-button
      @include style-button($enroll-button-color, $enroll-button-dark-color, white)